In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

In [21]:
data_url = 'https://raw.githubusercontent.com/souvikg544/exploratory_data_analysis/main/data/world_population.csv'
data = pd.read_csv(data_url)
data.head()

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00

# 1970 Population

In [22]:
population_1970 = data['1970 Population']
max_pop_index = population_1970.argmax()
min_pop_index = population_1970.argmin()

print(f'Country having maximum population in 1970 : {data.loc[max_pop_index, "Country"]}')
print(f'Country having minimum population in 1970 : {data.loc[min_pop_index, "Country"]}')

Country having maximum population in 1970 : China
Country having minimum population in 1970 : Vatican City

# 1990 Population

In [23]:
population_1990 = data['1990 Population']
max_pop_index = population_1990.argmax()
min_pop_index = population_1990.argmin()

print(f'Country having maximum population in 1990 : {data.loc[max_pop_index, "Country"]}')
print(f'Country having minimum population in 1990 : {data.loc[min_pop_index, "Country"]}')

Country having maximum population in 1990 : China
Country having minimum population in 1990 : Vatican City

# 2000 Population

In [24]:
population_2000 = data['2000 Population']
max_pop_index = population_2000.argmax()
min_pop_index = population_2000.argmin()

print(f'Country having maximum population in 2000 : {data.loc[max_pop_index, "Country"]}')
print(f'Country having minimum population in 2000 : {data.loc[min_pop_index, "Country"]}')

Country having maximum population in 2000 : China
Country having minimum population in 2000 : Vatican City

# 2010 Population

In [25]:
population_2010 = data['1970 Population']
max_pop_index = population_2010.argmax()
min_pop_index = population_2010.argmin()

print(f'Country having maximum population in 2010 : {data.loc[max_pop_index, "Country"]}')
print(f'Country having minimum population in 2010 : {data.loc[min_pop_index, "Country"]}')

Country having maximum population in 2010 : China
Country having minimum population in 2010 : Vatican City

# 2022 Population

In [26]:
population_2022= data['1970 Population']
max_pop_index = population_2022.argmax()
min_pop_index = population_2022.argmin()

print(f'Country having maximum population in 2022 : {data.loc[max_pop_index, "Country"]}')
print(f'Country having minimum population in 2022 : {data.loc[min_pop_index, "Country"]}')

Country having maximum population in 2022 : China
Country having minimum population in 2022 : Vatican City

It seems to be no change in the country which is having maximum population and minimum population since 1970

# Last 22 years population per continent

In [31]:
continent_population = data.groupby(['Continent']).mean()[['2022 Population','2020 Population','2015 Population','2000 Population']]

In [32]:
continent_population

,2022 Population,2020 Population,2015 Population,2000 Population
Continent,,,,
Africa,2.503037e+07,2.387144e+07,2.107197e+07,1.436747e+07
Asia,9.442767e+07,9.326173e+07,8.916500e+07,7.470179e+07
Europe,1.486295e+07,1.491584e+07,1.483071e+07,1.452187e+07
North America,1.500740e+07,1.485591e+07,1.425960e+07,1.215174e+07
Oceania,1.958198e+06,1.910149e+06,1.756664e+06,1.357512e+06
South America,3.120119e+07,3.082357e+07,2.950960e+07,2.497388e+07

# Each country's mean population in the year 2022

In [35]:
country_population = data.groupby(['Country']).mean()[['2022 Population','2020 Population','2015 Population','2000 Population']]

In [36]:
country_population["2022 Population"]

,2022 Population,2020 Population,2015 Population,2000 Population
Country,,,,
Afghanistan,41128771.0,38972230.0,33753499.0,19542982.0
Albania,2842321.0,2866849.0,2882481.0,3182021.0
Algeria,44903225.0,43451666.0,39543154.0,30774621.0
American Samoa,44273.0,46189.0,51368.0,58230.0
Andorra,79824.0,77700.0,71746.0,66097.0
...,...,...,...,...
Wallis and Futuna,11572.0,11655.0,12182.0,14723.0
Western Sahara,575986.0,556048.0,491824.0,270375.0
Yemen,33696614.0,32284046.0,28516545.0,18628700.0
Zambia,20017675.0,18927715.0,16248230.0,9891136.0
Zimbabwe,16320537.0,15669666.0,14154937.0,11834676.0

# Countries with Highest growth rates

In [37]:
country_growth_rate = data.groupby(['Country']).mean()['Growth Rate']

In [42]:
country_growth_rate.sort_values(ascending = False).head()

Country
Moldova     1.0691
Poland      1.0404
Niger       1.0378
Syria       1.0376
Slovakia    1.0359
Name: Growth Rate, dtype: float64

# Countries with Lowest growth rates

In [43]:
country_growth_rate.sort_values(ascending = False).tail()

Country
Lithuania         0.9869
Bulgaria          0.9849
American Samoa    0.9831
Lebanon           0.9816
Ukraine           0.9120
Name: Growth Rate, dtype: float64